flow.json
[{"id":"a603dbaa.cdd238","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"a9f21541.c7f7f8","type":"tab","label":"Request","disabled":false,"info":""},{"id":"ae8a5b51.d8c128","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"39b661b5.74292e","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"841ea5bb.4b3708","type":"inject","z":"a603dbaa.cdd238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["7be68e94.bf37d"]]},{"id":"7be68e94.bf37d","type":"debug","z":"a603dbaa.cdd238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":120,"wires":[]},{"id":"c770fdc2.11c94","type":"mqtt in","z":"a603dbaa.cdd238","name":"","topic":"hispana/prof","qos":"2","broker":"39b661b5.74292e","x":110,"y":180,"wires":[["7be68e94.bf37d"]]},{"id":"cf90daf3.f4b008","type":"mqtt out","z":"a603dbaa.cdd238","name":"","topic":"hispana/david","qos":"","retain":"","broker":"39b661b5.74292e","x":290,"y":300,"wires":[]},{"id":"6d36d191.98bb9","type":"inject","z":"a603dbaa.cdd238","name":"","topic":"","payload":"holas 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["cf90daf3.f4b008","330eb10e.b1ecfe","c727dbcc.5c2c28"]]},{"id":"330eb10e.b1ecfe","type":"mqtt out","z":"a603dbaa.cdd238","name":"","topic":"hispana/luis","qos":"","retain":"","broker":"39b661b5.74292e","x":270,"y":360,"wires":[]},{"id":"c727dbcc.5c2c28","type":"mqtt out","z":"a603dbaa.cdd238","name":"","topic":"hispana/gabo","qos":"","retain":"","broker":"39b661b5.74292e","x":260,"y":240,"wires":[]},{"id":"1bba6c23.c98214","type":"inject","z":"a9f21541.c7f7f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":"","x":270,"y":240,"wires":[["eb6eaca7.f18ea"]]},{"id":"eb6eaca7.f18ea","type":"http request","z":"a9f21541.c7f7f8","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/4.5_month.csv","tls":"","x":420,"y":240,"wires":[["91f8f8c2.c68728"]]},{"id":"91f8f8c2.c68728","type":"csv","z":"a9f21541.c7f7f8","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"","skip":0,"x":570,"y":240,"wires":[["c8aac8ea.194b88"]]},{"id":"77a20a1a.f12414","type":"debug","z":"a9f21541.c7f7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":200,"wires":[]},{"id":"2316598b.769a66","type":"function","z":"a9f21541.c7f7f8","name":"","func":"var lati = msg.payload.latitude;\nvar longi = msg.payload.longitude;\nvar nam = msg.payload.place;\nvar magni = msg.payload.mag;\n\nvar thing = {\n    name:nam, \n    lat:lati, \n    lon:longi,\n    icon:\"plane\",\n    iconColor:\"red\",\n    ttl:300,\n    photoUrl: \"https://picsum.photos/200/300/?random\",\n    Magnitud:magni\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":240,"wires":[["77a20a1a.f12414","3baa05b1.fefb5a"]]},{"id":"3baa05b1.fefb5a","type":"worldmap","z":"a9f21541.c7f7f8","name":"Mapa","lat":"","lon":"","zoom":"2","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","path":"","x":1030,"y":300,"wires":[]},{"id":"62b77b4e.770b54","type":"inject","z":"a9f21541.c7f7f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":300,"y":500,"wires":[["6bec9466.779f7c"]]},{"id":"6bec9466.779f7c","type":"function","z":"a9f21541.c7f7f8","name":"Add person to map","func":"var thing = {\n    name:\"Jason Isaacs\", \n    lat:51, \n    lon:-1.45,\n    icon:\"fa-snowflake-o\",\n    iconColor:\"darkred\",\n    extrainfo:\"Hello to Jason Isaacs\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["3baa05b1.fefb5a"]]},{"id":"d7b6f9be.026d48","type":"comment","z":"a9f21541.c7f7f8","name":"Simple map - click inject to send point to map.","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":430,"y":440,"wires":[]},{"id":"c8aac8ea.194b88","type":"switch","z":"a9f21541.c7f7f8","name":"","property":"payload.place","propertyType":"msg","rules":[{"t":"cont","v":"Mexico","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":240,"wires":[["2316598b.769a66"]]},{"id":"61a6f4fe.13ed2c","type":"function","z":"a9f21541.c7f7f8","name":"","func":"var lati = msg.payload.latitude;\nvar longi = msg.payload.longitude;\nvar nam = msg.payload.place;\nvar magni = msg.payload.mag;\n\nvar thing = {\n    name:nam, \n    lat:lati, \n    lon:longi,\n    icon:\"fa-snowflake-o\",\n    iconColor:\"green\",\n    Magnitud:magni\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]}]