flow.json
[{"id":"a603dbaa.cdd238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae8a5b51.d8c128","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"39b661b5.74292e","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"841ea5bb.4b3708","type":"inject","z":"a603dbaa.cdd238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["7be68e94.bf37d"]]},{"id":"7be68e94.bf37d","type":"debug","z":"a603dbaa.cdd238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":120,"wires":[]},{"id":"c770fdc2.11c94","type":"mqtt in","z":"a603dbaa.cdd238","name":"","topic":"hispana/prof","qos":"2","broker":"39b661b5.74292e","x":110,"y":180,"wires":[["7be68e94.bf37d"]]},{"id":"cf90daf3.f4b008","type":"mqtt out","z":"a603dbaa.cdd238","name":"","topic":"hispana/david","qos":"","retain":"","broker":"39b661b5.74292e","x":290,"y":300,"wires":[]},{"id":"6d36d191.98bb9","type":"inject","z":"a603dbaa.cdd238","name":"","topic":"","payload":"holas 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["cf90daf3.f4b008","330eb10e.b1ecfe","c727dbcc.5c2c28"]]},{"id":"330eb10e.b1ecfe","type":"mqtt out","z":"a603dbaa.cdd238","name":"","topic":"hispana/luis","qos":"","retain":"","broker":"39b661b5.74292e","x":270,"y":360,"wires":[]},{"id":"c727dbcc.5c2c28","type":"mqtt out","z":"a603dbaa.cdd238","name":"","topic":"hispana/gabo","qos":"","retain":"","broker":"39b661b5.74292e","x":260,"y":240,"wires":[]}]